In [1]:
import pandas as pd
import numpy as np

In [6]:
customers= pd.read_csv("olist_customers_dataset.csv")
geolocation=pd.read_csv("olist_geolocation_dataset.csv")
items=pd.read_csv("olist_order_items_dataset.csv")
payments=pd.read_csv("olist_order_payments_dataset.csv")
reviews=pd.read_csv("olist_order_reviews_dataset.csv")
reviews=pd.read_csv("olist_order_reviews_dataset.csv")
orders=pd.read_csv("olist_orders_dataset.csv")
products=pd.read_csv("olist_products_dataset.csv")
sellers=pd.read_csv("olist_sellers_dataset.csv")
category=pd.read_csv("product_category_name_translation.csv")

In [40]:
geol=geolocation.copy()
zip_codes = list(customers["customer_zip_code_prefix"])
geol[geol["geolocation_zip_code_prefix"].isin(zip_codes)]
geol.shape
geolocation.shape

(1000163, 5)

In [52]:
df_1= reviews.merge(orders,left_on = "order_id", right_on = "order_id",
                          how="inner")
df_2= df_1.merge(payments,left_on = "order_id", right_on = "order_id",
                          how="inner")
df_3= df_2.merge(customers,left_on = "customer_id", right_on = "customer_id",
                          how="inner")
df_4= df_3.merge(items,left_on = "order_id", right_on = "order_id",
                          how="inner")
df_5= df_4.merge(products,left_on = "product_id", right_on = "product_id",
                          how="inner")
df_6= df_5.merge(sellers,left_on = "seller_id", right_on = "seller_id",
                          how="inner")
df_6.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_id,order_status,order_purchase_timestamp,...,product_name_lenght,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,41dcb106f807e993532d446263290104,delivered,2018-01-11 15:30:49,...,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,14600,sao joaquim da barra,SP
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,41dcb106f807e993532d446263290104,delivered,2018-01-11 15:30:49,...,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,14600,sao joaquim da barra,SP
2,e2655da8bccce2ddc2f43cc2c80d24f3,19721d59a9764437477eff0730b48665,5,NaN,NaN,2018-04-10 00:00:00,2018-04-11 11:30:43,b1757da2a461d581e1a3b280ca181b7c,delivered,2018-03-26 11:02:31,...,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,14600,sao joaquim da barra,SP
3,cb18f53b563f0bdeb76be0376ddd6b6a,efd626e6a12a82d76e456e34093f8356,5,NaN,NaN,2017-12-28 00:00:00,2017-12-30 12:07:50,da2bd16b131bc90653b87fe4d8fd266e,delivered,2017-12-07 20:33:24,...,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,14600,sao joaquim da barra,SP
4,5fdb2ed7aa0f1b1c9642175b302e38af,b0bc656fed47584c160f8cff2d7b8bbd,5,NaN,NaN,2018-03-17 00:00:00,2018-03-17 17:36:27,f4ad1c9eb0bed4469cbe0ff8f47bf634,delivered,2018-02-27 13:56:12,...,47.0,858.0,1.0,1600.0,30.0,30.0,35.0,14600,sao joaquim da barra,SP

In [56]:
df_6.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'customer_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'product_category_name',
       'product_name_lenght', 'product_description_length',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'seller_zip_code_prefix',
       'seller_city', 'seller_state'],
      dtype='object')

In [69]:
df_6.shape

(118315, 39)

In [57]:
df_6.describe()

,review_score,payment_sequential,payment_installments,payment_value,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix
count,118315.000000,118315.000000,118315.000000,118315.000000,118315.000000,118315.000000,118315.000000,118315.000000,116606.000000,116606.000000,116606.000000,118295.000000,118295.000000,118295.000000,118295.000000,118315.000000
mean,4.014554,1.094062,2.943498,172.575651,35051.681579,1.196509,120.651027,20.033024,48.767782,785.944008,2.205144,2112.331011,30.265227,16.620009,23.075075,24440.790703
std,1.400186,0.728555,2.778022,267.104661,29824.811223,0.699452,184.109626,15.836523,10.033375,652.578636,1.717429,3786.717861,16.189038,13.453941,11.749311,27571.679456
min,1.000000,1.000000,0.000000,0.000000,1003.000000,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1001.000000
25%,3.000000,1.000000,1.000000,60.850000,11310.000000,1.000000,39.900000,13.080000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,6429.000000
50%,5.000000,1.000000,2.000000,108.200000,24310.000000,1.000000,74.900000,16.280000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,13660.000000
75%,5.000000,1.000000,4.000000,189.260000,58640.000000,1.000000,134.900000,21.180000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,27946.500000
max,5.000000,29.000000,24.000000,13664.080000,99990.000000,21.000000,6735.000000,409.680000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99730.000000

In [68]:
import math
x=df_6[df_6['review_comment_title'].isnull()==False]
x[['review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp','product_category_name']]

,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,product_category_name
20,5,Antes do Prazo,Entregue antes do prazo. Perfeito!,2018-05-22 00:00:00,2018-05-25 10:54:13,esporte_lazer
23,4,Recomendo,NaN,2018-04-27 00:00:00,2018-04-30 14:35:39,esporte_lazer
29,3,NÃ£o veio o produto total,Comprei 2 produtos e recebi apenas 1,2018-06-12 00:00:00,2018-06-13 11:37:46,esporte_lazer
30,3,NÃ£o veio o produto total,Comprei 2 produtos e recebi apenas 1,2018-06-12 00:00:00,2018-06-13 11:37:46,esporte_lazer
179,1,cancelamento compra,Foi cancelado a compra antes da emissÃ£o de not...,2018-08-30 00:00:00,2018-08-31 02:23:56,informatica_acessorios
...,...,...,...,...,...,...
118283,5,Recomendo!!!,Comprei dois produtos no dia 17/08 previstos p...,2018-08-24 00:00:00,2018-08-27 11:23:02,beleza_saude
118291,3,Atendimento Prestado,Um dia antes de vencer o prazo de entrega rece...,2018-06-09 00:00:00,2018-06-09 11:10:44,automotivo
118296,5,Excelente,Tecnologia japonesa,2018-07-25 00:00:00,2018-07-26 01:56:23,esporte_lazer
118299,5,RECOMENDADO,Recebi bem antes do prazo,2018-07-28 00:00:00,2018-07-30 11:34:04,automotivo
118310,4,recomendo,otimo produto,2018-07-31 00:00:00,2018-08-08 04:46:21,moveis_decoracao